{% extends "base.html" %} {% block content %}
<script>
	function Validate(event) {
		var check = confirm('Are you sure you want to delete the Yara rule?');

		if (!check) {
			event.preventDefault();
		} else {
			return check;
		}
	}
</script>

<div class="row">
	<div class="col-md-6 col-md-offset-3 mx-auto">
		<center>
			<div style="margin-top: 20px">
				<h2>All Yara files created by YarGen</h2>
			</div>
		</center>

		<table class="table table-bordered">
			<caption>
				Table to show the rules created by yarGen tool
			</caption>
			<thead>
				<tr table style="width: 100%; text-align: left; background-color: grey">
					<th scope="col">Rule Name</th>

					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for rule in yara_files %}

				<tr>
					<td>{{rule}}</td>

					<td>
						<form
							id="formfield"
							role="form"
							action=""
							method="post"
							enctype="multipart/form-data"
							onSubmit="return Validate(event);"
						>
							{% csrf_token %}
							<input
								id="{{rule}}"
								type="hidden"
								name="file_name"
								value="{{rule}}"
							/>
							<button class="btn btn-secondary view-yara" type="submit">
								Delete
							</button>

							<!-- <button
                                
                            class="btn btn-secondary view-yara"
                            
                            type="button"
                            
                           
                            data-toggle="modal" data-target="#confirm-submit"
                            
                        >
                            Delete 
                        </button> -->
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Submit
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the Yara rule?
        
                        
                        
        
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a href="#" id="submit" class="btn btn-success success">Submit</a>
                    </div>
                </div>
            </div>
        </div> -->
	</div>
</div>

{% endblock %}
